body{
    background-image: url("images/pt1.png");
    font-family: "Arial Narrow";
}
.fix{
    overflow: hidden;
}

p,h1{
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
    margin: auto;
}
.navbar-right{
    margin-right: 0px;
    /*font-family: "Arial Narrow";*/
}
#Brand{
    /*font-family: "Arial Narrow";*/
    font-size: 29.5px;
}
.navbar-default{
    background-image: url("images/pt1.png");
    color: #093251;
}
.navbar-default .navbar-nav > li > a{
    padding-left: 20px;
    /*font-family: "Arial Narrow";*/
    font-size: 20px;

}
.navbar-default .navbar-nav > li > a:hover{
    background-color: #093251;
    color: white;
    transition: 1s;
}
#home{
    padding: 0px;
}
#home p{
    color: #093251;
    max-height: 1000px;
    padding-top: 20%;
   /* font-family: "Adobe Caslon Pro";*/
    font-size: 50px;
}
#home a{
    display: block;
    color: #093251;
    font-size: 70px;
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto;
    margin-top:30px;
}
#home a:hover{
    background-color: #093251;
    color: white;
    transition: 1s;
}


.bs-slider{
    overflow: hidden;
    max-height: 700px;
    position: relative;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}



/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

#servicedetails figure{
    width: 465px;
    height: 255px;
    float: left;
    border: 2px solid white;
    position: relative;
    /*font-family: "Arial Rounded MT Bold";*/
}
#servicedetails figure div:nth-child(1){
    background-color: #093251;
    opacity: 0.3;
    width: inherit;
    height: inherit;
    border: 1px solid white;
    clear: both;
    position: absolute;
    max-height: 253px;
    transition: 500ms ease;

}
#servicedetails figure div:nth-child(2){
    color: white;
    width: 365px;
    max-height: 254px;
    position: relative;
    padding: 20px;
    transition: 500ms ease;
}
.sip{
    margin-top: 167px;
}
#servicedetails figure:hover .sip{
    margin-top: 0px;
}
#servicedetails figure:hover .sio{
    opacity: 0.8;
}
#servicedetails figure div:nth-child(3){
    width: 100px;
    max-height: 254px;
    position: relative;
}
#servicedetails figure div:nth-child(3) a{
    display: block;
    color: white;
    font-size: 50px;
    border: 1px solid;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-top: -100px;
    text-align: center;
    transition: 300ms ease;
    transition-delay: 500ms;
}

#servicedetails figure div:nth-child(2) h1{
    padding-bottom: 30px;
}
#servicedetails figure:nth-child(1){
    background-image: url("images/srmm.jpg");
    border-left:none;
}
#servicedetails figure:nth-child(2){
    background-image: url("images/srma.jpg");
    border-right: none;
}
#servicedetails figure:nth-child(3){
    background-image: url("images/srsp.jpg");
    border-left:none;

}
#servicedetails figure:nth-child(4){
    background-image: url("images/srt.jpg");
    border-right: none;

}
#Contuct{
    position: relative;
    /*font-family: "Arial Rounded MT Bold";*/
}
#Contuct figure{
    border-top: 2px solid white;
    /*border-bottom: 2px solid white;*/
    background-image: url("images/pt1.png");
}
#Contuct figure h1{
    margin-top: 100px;
}
#Contuct figure p{
    margin-top: 20px;
    font-size: 20px;
}
#Contuct a button{
    width: 350px;
    padding: 25px;
    border-radius: 0px;
    background-color:#0D314B;
    font-size: 20px;
    margin-top: 20px;
}
#Contuct a:hover button{
    background-color: #295C7E;
    transition: 200ms;
}
footer{
    height: 50px;
    background-color:#0D314B;
    color: white;
    /*font-family: "Arial Rounded MT Bold";*/
}
footer p{
    padding: 10px;
}
#ServicesSlider{
    /*font-family: "Arial Rounded MT Bold";*/
}

#contant figure{
   /* background-image: url("images/co.png");*/
    min-height: 420px;
    /*font-family: "Arial Rounded MT Bold";*/
}
#contant figure tr td{
    padding: 10px;
}
#short_service_list{
    background-image: url("images/p2.png");
    padding: 20px;
    font-size: 17px;
}
#short_service_list p{
    margin-left: 30px;
}
#short_service_list ul{
    list-style: none;
    margin-top: 20px;
}
#short_service_list ul li{
    display: inline;
    padding: 20px;

}
#short_service_list ul>li>a{
    color: #D8382D;
}
/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;

}

.slide-text > h1 {

    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 10px 10px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 10px 10px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #093251;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default,
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}

